extends layout

block content
  div.container
    div.nav
      h1 Message Confession
      p Speech to Anything
    div.content
      a(href='/new')
        button.addMessage Add Message
      each message in messages
        div.message 
          h2=message.user
          p=message.text
          h5=message.added
    div.footer
      h2 Copyright © 2022 DanvictorGithub

