extends layout

block content
  div.container
    div.nav
      h1 Message Confession
      p Speech to Anything
    div.content
        div.formContent
            h1 Create Message
            form(method="POST" action="/new")
                label(for="user") User:
                input(type="text" name="user")#user
                label(for="text") Message:
                input(type="text" name="text")#text
                button.addMessage Submit
    div.footer
      h2 Copyright © 2022 DanvictorGithub